.logo {
  animation: 1s appear;
  width: 100%;
  max-width: 17rem;
  &.by-cloetta {
    max-width: 10rem;
  }
}

svg {
  width: 100% \\9;
}

.arrow-link {
  //opacity: 0;
  width: 100%;
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  img {
    max-width: 2rem;
    @media screen and (min-width: $m) {
      max-width: 2.5rem;
    }
  }
}

.section {
  min-height: 100vh;
  position: relative;
  padding-bottom: 6rem;
  padding-top: 6rem;
  @media screen and (min-width: $xl) {
    min-height: 60vh;
  }
}
#sweet-news.section {
  @media screen and (min-width: $xl) {
    min-height: 100vh;
  }
  .arrow-link {
    bottom: 4rem;
    @media screen and (min-width: $m) {
      bottom: 2rem;
    }
  }
}
.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  max-width: 53rem;
}
#recycle {
  max-width: 9rem;
  margin: 0 auto;
  padding: 0 0.5rem;
  @media screen and (min-width: $m) {
    padding: 0;
  }
}

.leafs {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  max-width: 100%;
}
.leaf {
  position: absolute;
  width: 1.75rem;
  height: auto;
  z-index: -1;
  @media screen and (min-width: $m) {
    width: 2.25rem;
  }
}

.plantpack_dummy {
  .dummy {
    position: relative;
    z-index: -1;
  }
  .logo {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    width: 40%;
    z-index: 1;
  }
}

.steps {
  position: relative;
  min-height: 23rem;
  margin: 0 auto;
  width: 6rem;
  @media screen and (min-width: $m) {
    min-height: 30rem;
    width: 6rem;
  }
  .step.co2 {
    width: 100%;
    padding-right:0.5rem;
    transform: none;
    bottom: -1.5rem;
    left: 0;
    @media screen and (min-width: $m) {
      padding-right:0;
    }
  }
  .step {
    width: 1.65rem;
    position: absolute;
    transform: rotate(180deg);
    @media screen and (min-width: $m) {
      width: 2rem;
    }
    &-left-1 {
      left: 55%;
      top: 0;
    }
    &-right-1 {
      left: 15%;
      top: 3rem;
    }
    &-left-2 {
      left: 55%;
      top: 5rem;
    }
    &-right-2 {
      left: 15%;
      top: 9rem;
    }
    &-left-3 {
      left: 55%;
      top: 11rem;
    }
    &-right-3 {
      left: 15%;
      top: 15rem;
    }
    &-left-4 {
      left: 55%;
      top: 16rem;
    }
    @media screen and (min-width: $m) {
      &-left-1 {
        left: 3rem;
        top: 0rem;
      }
      &-right-1 {
        left: 0rem;
        top: 3rem;
      }
      &-left-2 {
        left: 3rem;
        top: 6.5rem;
      }
      &-right-2 {
        left: 0rem;
        top: 11rem;
      }
      &-left-3 {
        left: 3rem;
        top: 15.5rem;
      }
      &-right-3 {
        left: 0rem;
        top: 18rem;
      }
      &-left-4 {
        left: 3rem;
        top: 22rem;
      }
    }
  }
  span {
    &.step {
      position: absolute;
      font-family: "Daft-brush", sans-serif;
      left: 1rem;
      top: 19rem;
      transform: rotate(0deg);
      width: auto;
      font-size: 4rem;
      @media screen and (min-width: $m) {
        left: 0;
        top: 26rem;
        font-size: 4.24rem;
      }
    }
  }
}
