@import "breakpoints.scss";
@import "colors.scss";
@import "typography.scss";
@import "navbar.scss";
@import "layout.scss";
@import "animations.scss";

html {
  scroll-behavior: smooth;
}
body {
  background: $green;
  color: #fff;
  font-family: "Gotham";
  overflow-x: hidden;
}
