@import "_breakpoints.scss";
@import "_colors.scss";
@import "_typography.scss";
@import "_navbar.scss";
@import "_layout.scss";
@import "_animations.scss";

html {
  scroll-behavior: smooth;
}
body {
  background: $green;
  color: #fff;
  font-family: "Gotham";
  overflow-x: hidden;
}
