/*@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-medium.otf");
}*/
@font-face {
  font-family: "Gotham";
  src: url("fonts/hco_fonts/woff2/Gotham-Medium_Web.woff2") format("woff2"),
    url("fonts/hco_fonts/woff/Gotham-Medium_Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Daft Brush";
  src: url("fonts/PintassilgoPrints - Daft Brush Text.otf");
}
@font-face {
  font-family: "Daft-brush";
  src: url("fonts/PintassilgoPrints - Daft Brush.otf");
}

a {
  color: #fff;
  text-decoration: underline;
  &:hover {
    color: $green-dark;
  }
}

h1,
h2,
h3 {
  font-family: "Daft-brush", sans-serif;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  @media screen and (min-width: $m) {
    font-size: 3.3rem;
  }
  @media screen and (min-width: $l) {
    font-size: 5rem;
  }
  &.title {
    margin-bottom: 0;
    @media screen and (min-width: $m) {
      font-size: 4rem;
    }
    @media screen and (min-width: $l) {
      font-size: 5rem;
    }
  }
}
h2 {
  font-size: 2rem;
  @media screen and (min-width: $m) {
    font-size: 2.8rem;
  }
  @media screen and (min-width: $l) {
    font-size: 4rem;
  }
}
p {
  font-size: 0.875rem;
  @media screen and (min-width: $m) {
    font-size: 1rem;
  }
}
.arrow-link {
  width: 100%;
  max-width: 100% !important;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 0;
  transition: all 0.35s ease;
  &:hover {
    img {
      transition: all 0.35s ease;
      transform: translateY(-0.5rem);
      opacity: 0.9;
    }
  }
}
